.idea/
.venv/
venv/
.env
.ssh/
logs/

.viminfo
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*pem
*db
*log

.flaskenv
*sql
/app.db.save
/qodana.yaml

# Node/Sass/Frontend assets
node_modules/
.sass-cache/
kilakochen/static/vendor/
