flask
bootstrap-flask
flask-sqlalchemy
pymysql
flask-babel
Flask-Login
Flask-Migrate
python-dotenv
flask-wtf
wtforms_sqlalchemy

flask_weasyprint

WTForms
SQLAlchemy
Babel
Jinja2
MarkupSafe
click
Werkzeug
alembic
flask-talisman