{% from 'bootstrap5/nav.html' import render_nav_item %}
<!doctype html>
<html lang="de">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{{ page_title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endblock %}
    </head>
    <body>
        <header class="position-absolute w-100">
			<!-- Navbar -->
			{% include "incl_navbar.html" %}
		</header>

		<main class="flex-shrink-0" style='padding-top: 90px;'>
            <!-- Start Main content -->
            {% block content %}
            {% endblock %}
            <!-- End Main content -->
        </main>	


        <footer class="footer mt-auto py-3 bg-light">
            <!-- Footer -->
            {% include "incl_footer.html" %}
        </footer>
        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
    </body>
</html>