{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="container">
           <nav aria-label="Wochennavigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.week',raw_date=previous) }}" aria-label="Vorherige Woche">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Vorherige Woche</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.week_overview') }}" aria-label="Übersicht">Übersicht</a>
                </li>
                {% if  current_user.is_authenticated  %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('main.print_week',raw_date=plaene[0].Datum) }}">Drucken</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('main.edit_week',raw_date=plaene[0].Datum) }}">Editieren</a>
                    </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.week',raw_date=next) }}" aria-label="Nächste Woche">
                        <span class="sr-only">Nächste Woche</span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

                             <div class="text-center">
                <h1>Wochenplan</h1>für die Kalenderwoche <b>{{ kw }}</b>
                vom {{ plaene[0].Datum | format_date(kl_format="medium") }} bis
                zum {{ plaene[-1].Datum | format_date(kl_format="medium") }}

        </div>
        <table class="table table-responsive">
            <thead class="table-dark">
            <tr>
                {% for entry in plaene %}
                    <th scope="col">{{ entry.Datum.strftime('%A, %d.%m.%Y') }}</th>
                {% endfor %}
            </tr>

            </thead>

            <tr>
                {% for form in forms %}
                    <td>
                    {{ render_form(form,form_type="inline") }}
                    </td>
                {% endfor %}

            </tr>
        </table>
    </div>
{% endblock %}