    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index')}}">Rezeptdatenbank</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.day')}}">Heute</a>
                        </li>
                        {% if current_user.is_anonymous -%}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('recipe.overview')}}">Rezepte</a>
                        </li>
                        {%- else -%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Rezepte
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="{{ url_for('recipe.overview')}}">Übersicht</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('main.week_overview')}}">Neues Rezept</a></li>
                            </ul>
                        </li>
                        {%- endif %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.ingredients')}}">Zutaten</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.week_overview')}}">Wochenplan</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.einkaufsliste')}}">Einkaufsliste</a>
                        </li>
                        {% if current_user.is_anonymous -%}
                        <li class="nav-item">
                            <a  href="{{ url_for('auth.login') }}" class="btn btn-success nav-link" role="button">Login</a>
                        </li>
                            {%- else -%}
                        <li class="nav-item">Benutzer: {{ current_user.user }}<a href="{{ url_for('auth.logout') }}" class="btn btn-danger" role="button">Logout</a></li>
                            {%- endif %}
                    
                    </div>
                </div>
            </div>
    </nav>