{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">
        <img alt="Symbolbild für die KilaKochen Seite"
             class="img-fluid"
             src="{{ url_for('static', filename='webkitchen_start_1200.webp') }}"
             srcset="{{ url_for('static', filename='webkitchen_start_800.webp') }} 800w,
                     {{ url_for('static', filename='webkitchen_start_1200.webp') }} 1200w"
             sizes="(max-width: 800px) 800px, 1200px">
    </div>
{% endblock %}
