{% extends 'print_base.html' %}

{% block content %}
<div class="container">
    <div class="text-left">
        Wochenplan für die Kalenderwoche <strong>{{ kw }}</strong> vom <strong>{{ plaene[0].Datum | format_date(format="medium") }}</strong> bis zum <strong>{{ plaene[-1].Datum | format_date(format="medium") }}</strong>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th></th>
                {% for entry in plaene %}
                        <th scope="col">{{ entry.Datum | return_day }}</th>
                {% endfor %}
            </tr>

        </thead>
        
        <tr>
            <td>Hauptgericht</td>
            {% for plan in plaene %}
            <td>
                
                {% if plan.Hauptgericht != None %}
                <h6>{{ plan.Hauptgericht.Titel}}</h6>
                    {% for zutat in plan.Hauptgericht.rezepte_zutaten %}
                        {{ "%.2f"|format(zutat.Menge)  }} {{ zutat.einheiten.Kuerzel }} {{ zutat.zutaten.Bezeichnung }} </br>

                    {% endfor %}

                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                

            </td>
            {% endfor %}
        </tr>
        <tr>
            <td scope="row">Beilage</td>
            {% for plan in plaene %}
            <td>
                {% if plan.Beilage != None %}
                <h6>{{ plan.Beilage.Titel}}</h6>
                {% for zutat in plan.Beilage.rezepte_zutaten %}
                    {{ "%.2f"|format(zutat.Menge)  }} {{ zutat.einheiten.Kuerzel }} {{ zutat.zutaten.Bezeichnung }} </br>

                {% endfor %}
                {% else %}
                Kein Eintrag
                {% endif %}
            
            </td>
            {% endfor %}
            
        </tr>
        <tr>
            <td>Dessert</td>
            {% for plan in plaene %}
            <td>
                {% if plan.Dessert != None %}
                <h6>{{ plan.Dessert.Titel}}</h6>
                {% for zutat in plan.Dessert.rezepte_zutaten %}
                    {{ "%.2f"|format(zutat.Menge)  }} {{ zutat.einheiten.Kuerzel }} {{ zutat.zutaten.Bezeichnung }} </br>

                {% endfor %}
                {% else %}
                Kein Eintrag
                {% endif %}
            </td>
            {% endfor %}
            
        </tr>
    </table>

    {% for entry in plaene %}
    {% if not entry.Ausfall %}
    <th scope="col">{{ entry.Datum |format_date(format="full")}}</th>

    <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Hauptgericht</th>
                    <th>Beilage</th>
                    <th>Dessert</th>
                </tr>
    
            </thead>
            <tr>
                <td>Bezeichnung</td>
                <td>{% if entry.Hauptgericht != None %}{{entry.Hauptgericht.Titel}}{% else %}<h6>Kein Eintrag</h6>{% endif %}</td>
                <td>{% if entry.Beilage != None %}{{entry.Beilage.Titel}}{% else %}<h6>Kein Eintrag</h6>{% endif %}</td>
                <td>{% if entry.Dessert != None %}{{entry.Dessert.Titel}}{% else %}<h6>Kein Eintrag</h6>{% endif %}</td>                                

            </tr>
            <tr>
                <td>Zutaten</td>
                <td>
                    {% if entry.Hauptgericht != None %}
                    {% for zutat in entry.Hauptgericht.rezepte_zutaten %}
                        {{ "%.2f"|format(zutat.Menge)  }} {{ zutat.einheiten.Kuerzel }} {{ zutat.zutaten.Bezeichnung }} </br>
                    {% endfor %}
                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                </td>
                <td>
                    {% if entry.Beilage != None %}
                    {% for zutat in entry.Beilage.rezepte_zutaten %}
                        {{ "%.2f"|format(zutat.Menge)  }} {{ zutat.einheiten.Kuerzel }} {{ zutat.zutaten.Bezeichnung }} </br>
                    {% endfor %}
                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                </td>
                <td>
                    {% if entry.Dessert != None %}
                    {% for zutat in entry.Dessert.rezepte_zutaten %}
                        {{ "%.2f"|format(zutat.Menge)  }} {{ zutat.einheiten.Kuerzel }} {{ zutat.zutaten.Bezeichnung }} </br>
                    {% endfor %}
                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                </td>                
            </tr>
            <tr>
                <td>Allergene</td>
                <td> {% if entry.Hauptgericht != None %}
                    {% for zutat in entry.Hauptgericht.rezepte_zutaten %}
                    {% for allergen in zutat.zutaten.zutaten_allergene %}
                        {{ allergen.allergene.Bezeichnung}},
                    {% endfor %}
                {% endfor %}
                {% endif %}
                </td>
                <td> {% if entry.Beilage != None %}
                    {% for zutat in entry.Beilage.rezepte_zutaten %}
                    {% for allergen in zutat.zutaten.zutaten_allergene %}
                        {{ allergen.allergene.Bezeichnung}},
                    {% endfor %}
                {% endfor %}
                {% endif %}
                </td>
                <td> {% if entry.Dessert != None %}
                    {% for zutat in entry.Dessert.rezepte_zutaten %}
                    {% for allergen in zutat.zutaten.zutaten_allergene %}
                        {{ allergen.allergene.Bezeichnung}},
                    {% endfor %}
                {% endfor %}
                {% endif %}
                </td>                                
            </tr>
            <tr>
                <td>Zubereitung</td>
                <td>
                    {% if entry.Hauptgericht != None %}
                    {{ entry.Hauptgericht.Zubereitung | nl2br}}

                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                </td>
                <td>
                    {% if entry.Beilage != None %}
                    {{ entry.Beilage.Zubereitung | nl2br}}

                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                </td>
                <td>
                    {% if entry.Dessert != None %}
                    {{ entry.Dessert.Zubereitung | nl2br}}

                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                </td>                
            </tr>
    </table>
    {% endif %}
    {% endfor %}   
</div>
{% endblock %}