{% extends 'print_base.html' %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Wochenplan</h1>für die Kalenderwoche <strong>{{ kw }}</strong> vom <strong>{{ plaene[0].Datum | format_date(format="medium") }}</strong> bis zum <strong>{{ plaene[-1].Datum | format_date(format="medium") }}</strong>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th></th>
                {% for entry in plaene %}
                        <th scope="col">{{ entry.Datum | return_day }}</th>
                {% endfor %}
            </tr>

        </thead>
        
        <tr>
            <td>Hauptgericht</td>
            {% for plan in plaene %}
            <td>
                
                {% if plan.Hauptgericht != None %}
                <h6>{{ plan.Hauptgericht.Titel}}</h6>
                    {% for zutat in plan.Hauptgericht.Zu %}

                    {% endfor %}
                {% else %}
                <h6>Kein Eintrag</h6>
                {% endif %}
                

            </td>
            {% endfor %}
        </tr>
        <tr>
            <td scope="row">Beilage</td>
            {% for plan in plaene %}
            <td>
                {% if plan.Beilage != None %}
                {{ plan.Beilage.Titel}}
                {% else %}
                Kein Eintrag
                {% endif %}
            
            </td>
            {% endfor %}
            
        </tr>
        <tr>
            <td>Dessert</td>
            {% for plan in plaene %}
            <td>
                {% if plan.Dessert != None %}
                {{ plan.Dessert.Titel}}
                {% else %}
                Kein Eintrag
                {% endif %}
            </td>
            {% endfor %}
            
        </tr>
    </table>
</div>
{% endblock %}