{% extends 'print_base.html' %}
{% block content %}
    <div class="container">
        <div>
            <div class="row align-items-center">
                <div class="col">
                    <img src="{{ url_for('static', filename='kila-logo.png') }}"
                         alt="Logo Kinderladen Jakobistrasse e.V."
                         class="img-fluid">
                </div>
                <div class="col">
                    Wochenplan für die Kalenderwoche <strong>{{ kw }}</strong> vom
                    <strong>{{ plaene[0].date | format_date(kl_format="medium") }}</strong> bis zum
                    <strong>{{ plaene[-1].date | format_date(kl_format="medium") }}</strong>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th></th>
                    {% for entry in plaene %}
                        <th scope="col">{{ entry.date | return_day }}</th>{% endfor %}
                </tr>
                </thead>
                <tr>
                    <td>Hauptgericht</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.main_dish != None %}
                                <h6>{{ plan.main_dish.name }}</h6>
                            {% else %}
                                <h6>-</h6>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Beilage</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.side_dish != None %}
                                <h6>{{ plan.side_dish.name }}</h6>
                            {% else %}
                                <h6>-</h6>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Dessert</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.dessert != None %}
                                <h6>{{ plan.dessert.name }}</h6>
                            {% else %}
                                <h6>-</h6>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Kommentar</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.comment != None %}
                                <h6>{{ plan.comment }}</h6>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
            <div class="text-center">Nur für den internen Gebrauch vom Kinderladen Jakobistraße e.V.</div>
        </div>
        <div class="page-break"></div>
        <div class="row align-items-center">
            <div class="col">
                <img src="{{ url_for('static', filename='kila-logo.png') }}"
                     alt="Logo Kinderladen Jakobistrasse e.V."
                     class="img-fluid">
            </div>
            <div class="col">
                Wochenplan für die Kalenderwoche <strong>{{ kw }}</strong> vom
                <strong>{{ plaene[0].date | format_date(kl_format="medium") }}</strong> bis zum
                <strong>{{ plaene[-1].date | format_date(kl_format="medium") }}</strong>
            </div>
        </div>
        <div class="small-font">
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th></th>
                    {% for entry in plaene %}
                        <th scope="col">{{ entry.date | return_day }}</th>{% endfor %}
                </tr>
                </thead>
                <tr>
                    <td>Hauptgericht</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.main_dish != None %}
                                <h6>{{ plan.main_dish.name }}</h6>
                                {% for zutat in plan.main_dish.ingredients %}
                                    {{ "%.2f"|format(zutat.amount) }} {{ zutat.unit.code }} {{ zutat.ingredient.name }}
                                    <br>
                                {% endfor %}
                            {% else %}
                                <h6>-</h6>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Beilage</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.side_dish != None %}
                                <h6>{{ plan.side_dish.name }}</h6>
                                {% for zutat in plan.side_dish.ingredients %}
                                    {{ "%.2f"|format(zutat.amount) }} {{ zutat.unit.code }} {{ zutat.ingredient.name }}
                                    <br>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Dessert</td>
                    {% for plan in plaene %}
                        <td>
                            {% if plan.dessert != None %}
                                <h6>{{ plan.dessert.name }}</h6>
                                {% for zutat in plan.dessert.ingredients %}
                                    {{ "%.2f"|format(zutat.amount) }} {{ zutat.unit.code }} {{ zutat.ingredient.name }}<
                                    br
                                {% endfor %}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>

            </table>
        </div>
    </div>
{% endblock %}
