{% extends 'base.html' %}
{% block content %}
        <div class="row">
            <div class="text-center">
            <h1>{{ page_title }}</h1> (Anzahl: {{ data |count}})
        </div>
        </div>
        <table class="table table-responsive">
            {% for recipe in data -%}
                <tr>
                    <td><a class="btn btn-primary" href="{{ url_for('recipe.view_recipe', id=recipe.ID) }}">zum Rezept</a></td>
                    <td>{{ recipe.Titel }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}