{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
<a class="btn btn-primary" href="{{ url_for('main.rezepte') }}">Zurück zur Übersicht</a> </br>

<h1>{{ rezept_name }}</h1>
{% block zutaten %}
    <table class="table-responsive">
        <tr>
        {% for item in data["zutaten_header"] %}
            <th>{{ item }}</th>
        {% endfor %}
        </tr>

       {% for item in data["zutaten"] %}
       <tr>
        <td>{{ item[0] }}</td><td> {{ item[1] }}</td><td> {{ item[2] }}</td>
    </tr>
    {% endfor %}
    
</table>

{% endblock %}

{{ render_table(  ) }}

{% endblock %}s