{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
        {{ page_title }} (Anzahl: {{ data |count}})
        </div>
        <table class="table">
            {% for rezept in data -%}
                <tr>
                    <td><a class="btn btn-primary" href="{{ url_for('main.rezepte', id=rezept.ID) }}">Link</a></td>
                    <td>{{ rezept.Titel }}</td>
                </tr>
            {% endfor %}
        </div>
    </div>

{% endblock %}