{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table>
            <thead>
                <th>Heute ist {{ date.strftime('%A') }} der {{ date.strftime('%d.%m.%Y')}}</th>
            </thead>
            <tr>
                <td>Hauptgericht</td>
                <td><a class="btn btn-primary" href="{{ url_for('recipe.view_recipe', id=data.Hauptgericht.ID) }}">{{ data.Hauptgericht.Titel }}</a></td>
            </tr>
            <tr>
                <td>Beilage</td>
                <td><a class="btn btn-primary" href="{{ url_for('recipe.view_recipe', id=data.Beilage.ID) }}">{{ data.Beilage.Titel }}</a></td>
            </tr>
            <tr>
                <td>Dessert</td>
                <td><a class="btn btn-primary" href="{{ url_for('recipe.view_recipe', id=data.Dessert.ID) }}">{{ data.Dessert.Titel }}</a></td>
            </tr>
            <tr>
                <td>Ausfall</td>
                <td>{{ data.Ausfall }}</td>
            </tr>
            <tr>
                <td>Anmerkung</td>
                <td>{{ data.Anmerkung }}</td>
            </tr>  
        </table>
</div>
{% endblock %}