{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table>
            <thead>
                <th>Heute ist {{ date.strftime('%A') }} der {{ date.strftime('%d.%m.%Y')}}</th>
            </thead>
            <tr>
                <td>Hauptgericht</td>
                <td>
                    {% if plan.Hauptgericht != None %}
                    <a  class="btn btn-primary" href="{{url_for('recipe.view_recipe',id=plan.Hauptgericht.ID)}}">{{ plan.Hauptgericht.Titel}}</a>
                    {% else %}
                    Kein Eintrag
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Beilage</td>
                <td>
                    {% if plan.Beilage != None %}
                    <a  class="btn btn-primary" href="{{url_for('recipe.view_recipe',id=plan.Beilage.ID)}}">{{ plan.Beilage.Titel}}</a>
                    {% else %}
                    Kein Eintrag
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Dessert</td>
                <td>
                    {% if plan.Dessert != None %}
                    <a  class="btn btn-primary" href="{{url_for('recipe.view_recipe',id=plan.Dessert.ID)}}">{{ plan.Dessert.Titel}}</a>
                    {% else %}
                    Kein Eintrag
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Ausfall</td>
                <td>
                    {% if plan.Ausfall != None %}
                    {{ plan.Ausfall }}
                    {% else %}
                    Kein Eintrag
                    {% endif %}                    
                </td>
            </tr>
            <tr>
                <td>Anmerkung</td>
                <td>
                    {% if plan.Anmerkung != None %}
                    {{ plan.Anmerkung }}
                    {% else %}
                    Kein Eintrag
                    {% endif %}                                    

                </td>
            </tr>  
        </table>
</div>
{% endblock %}