{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    Anzahl aller Zutaten in der Datenbank: {{ data|count}}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>            
                <th scope="col">Name</th>
                <th scope="col">Zutaten Gruppe</th>
            </tr>
        </thead>
    {% for entry in data %}
    <tr>
        <th scope="row">{{ entry.zutat_id }}</td>
        <td>{{ entry.zutat_name }}</td>
        <td>{{ entry.zutaten_gruppe.zutatengruppe_name }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}