{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center">Anzahl aller Benutzer in der Datenbank: {{ data|count }}</div>
        </div>
        {{ render_table(data,responsive=True,table_classes="table-striped table-hover",header_classes="table-dark",show_actions=True,edit_url=('user.edit',[('user_id',':id')]),delete_url=('user.delete',[('user_id',':id')]) )         }}

    </div>
{% endblock %}