{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    <div class="container">
        <div class="row">
            <h6 class="text-center"> Anzahl aller Benutzer in der Datenbank: {{ data|count }}</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Given Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Level</th>
                        <th scope="col">Active</th>
                        <th scope="col">Last Seen</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Updated At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {%  for user in data %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.given_name }}</td>

                        <td>{{ user.email }}</td>
                        <td>{{ user.level }}</td>
                        <td>
                            {% if user.active %}
                                        <svg class="text-primary kl-icon-sm"> <use href="/bootstrap/static/icons/bootstrap-icons.svg#check-square-fill"></use></svg>
                                    {% else %}
                                        <svg class="text-primary kl-icon-sm"> <use href="/bootstrap/static/icons/bootstrap-icons.svg#dash-square-fill"></use></svg>
                                    {% endif %}
                        </td>
                        <td>{{ user.last_seen }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{{ user.updated_at }}</td>
                        <td>
                            <a class="action-icon text-decoration-none" href="{{ url_for('user.edit', user_id=user.id) }}" title="Edit User">
                            <svg class="bi kl-icon-sm"> <use href="/bootstrap/static/icons/bootstrap-icons.svg#pencil-fill"></use></svg>
                            </a>
                            <form class="d-inline" action="{{ url_for('user.status_change', user_id=user.id) }}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-link p-0 border-0 align-baseline" title="Change Status">
                                    {% if user.active %}
                                        <svg class="bi kl-icon-sm"> <use href="/bootstrap/static/icons/bootstrap-icons.svg#sign-stop-fill"></use></svg>
                                    {% else %}
                                        <svg class="bi kl-icon-sm"> <use href="/bootstrap/static/icons/bootstrap-icons.svg#door-open-fill"></use></svg>
                                    {% endif %}
                                </button>
                                </form>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}