{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center">
                Anzahl aller Zutaten in der Datenbank: {{ data|count }}
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Zutaten Gruppe</th>
                <th scope="col">Allergene</th>
            </tr>
            </thead>
            {% for zutat in data %}
                <tr>

                    <td>
                        {{ zutat.name }}</td>
                    <td>{{ zutat.group.description }}</td>
                    <td>
                        {% for allergen in zutat.allergens %}
                            <a data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{{ allergen.name }}">{{ allergen.code }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="row">
            {{ allergens }}
        </div>
    </div>
{% endblock %}