{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-auto"><a href={{ url_for('recipe.overview')}}>Alle Rezepte</a>: {{ categories["total"] }}</div>
            {% for category in categories["categories"] %}
                 <div class="col-auto"><a href={{ url_for('recipe.overview',category_id=category["id"])}}>{{ category["name"] }}</a>:{{ category["count"] }}</div>
            {% endfor %}
        </div>
            <table class="table-responsive table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Rezeptname</th>
                        <th scope="col">Kategorie</th>
                    </tr>
                </thead>
                <tbody>
                {%  for recipe in data %}
                    <tr>
                        <td><a href="{{ url_for('recipe.view',recipe_id=recipe.id) }}">{{ recipe.name }}</a></td>
                        <td>{{ recipe.category.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>

{% endblock %}