{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    <div class="container">
        <div class="row">
            <h6 class="text-center"> Anzahl aller Rezepte in der Datenbank: {{ data|count }}</h6>
        </div>
            <table class="table-responsive table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Rezeptname</th>
                        <th scope="col">Kategorie</th>
                    </tr>
                </thead>
                <tbody>
                {%  for recipe in data %}
                    <tr>
                        <td><a href="{{ url_for('recipe.view',recipe_id=recipe.ID) }}">{{ recipe.Titel }}</a></td>
                        <td>{{ recipe.rezeptkategorien.BezeichnungSingular }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>

{% endblock %}