{% extends 'base.html' %}

{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col"><h6 > Alle Rezepte: {{ data|count }}</h6></div>
            {% for category in categories %}
            <div class="col">{{ category[0]  }}:{{ category[1]  }}</div>
            {% endfor %}
        </div>
            <table class="table-responsive table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Rezeptname</th>
                        <th scope="col">Kategorie</th>
                    </tr>
                </thead>
                <tbody>
                {%  for recipe in data %}
                    <tr>
                        <td><a href="{{ url_for('recipe.view',recipe_id=recipe.id) }}">{{ recipe.name }}</a></td>
                        <td>{{ recipe.category.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>

{% endblock %}