{% extends 'print_base.html' %}

{% from 'bootstrap5/table.html' import render_table %}
{% block content %}
    <h1>{{ rezept_name }}</h1>

    <table class="table table-sm table-striped table-hover caption-top">
        <caption>Zutaten</caption>
        <thead class="table-light">
        <tr>
            <th>Menge</th>
            <th>Zutat</th>
        </tr>
        </thead>
        {% for zutat in data.ingredients -%}
            <tr>
                <td>{{ "%.2f"|format(zutat.amount) }} {{ zutat.unit.code }}</td>
                <td>{{ zutat.ingredient.name }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table table-responsive table-striped table-hover caption-top">
        <caption>Allergene</caption>
        <tr>
            <td>
            {{  data.allergens | map(attribute="name") | join(", ") }}
            </td>
        </tr>
    </table>

    <table class="table table-responsive table-striped table-hover caption-top">
        <caption>Zubereitung</caption>
        <tr>
            <td>
                    {{ data.description | nl2br }}
            </td>
        </tr>
    </table>

{% endblock %}